/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../_sass/_boilerplate-before.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../_sass/_boilerplate-before.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 26, ../_sass/_boilerplate-before.scss */
a {
  color: #00e;
}

/* line 30, ../_sass/_boilerplate-before.scss */
a:visited {
  color: #551a8b;
}

/* line 34, ../_sass/_boilerplate-before.scss */
a:hover {
  color: #06e;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 44, ../_sass/_boilerplate-before.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 49, ../_sass/_boilerplate-before.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 58, ../_sass/_boilerplate-before.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 71, ../_sass/_boilerplate-before.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 79, ../_sass/_boilerplate-before.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 89, ../_sass/_boilerplate-before.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 97, ../_sass/_boilerplate-before.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 419, ../_sass/_UnitGS.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 431, ../_sass/_UnitGS.scss */
body {
  font-size: 1em;
  line-height: 1.6em;
}

/* line 16, ../_sass/_asDesigned-Layout.scss */
html {
  min-height: 100%;
  overflow: auto;
}

/* line 22, ../_sass/_asDesigned-Layout.scss */
body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  min-height: 100%;
  overflow: auto;
}

/* line 33, ../_sass/_asDesigned-Layout.scss */
footer {
  font-size: 0.75em;
  line-height: 2.13333;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 2.13333em;
  margin-bottom: 2.13333em;
}

/* line 12, ../_sass/_asDesigned-Style.scss */
.todo {
  text-indent: 0;
  background-color: yellow;
  color: red;
}

/* line 24, ../_sass/_asDesigned-Style.scss */
a, a:visited {
  text-decoration: none;
  color: #79a7ec;
}

/* line 29, ../_sass/_asDesigned-Style.scss */
a:hover {
  color: #79a7ec;
}

/* line 33, ../_sass/_asDesigned-Style.scss */
h1, h2, h3, p.intro {
  text-rendering: optimizeLegibility;
  font-weight: 800;
}

/* line 39, ../_sass/_asDesigned-Style.scss */
h1 {
  font-size: 1.6em;
  line-height: 2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

/* line 40, ../_sass/_asDesigned-Style.scss */
h2 {
  font-size: 1.2em;
  line-height: 2.66667;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1em;
  margin-bottom: 0.33333em;
}

/* line 41, ../_sass/_asDesigned-Style.scss */
h3 {
  font-size: 1.2em;
  line-height: 2.66667;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1em;
  margin-bottom: 0.33333em;
}

/* line 43, ../_sass/_asDesigned-Style.scss */
#intro-message {
  font-size: 1.2em;
  line-height: 1.33333;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1.33333em;
  font-style: italic;
  color: #666;
}

/* line 49, ../_sass/_asDesigned-Style.scss */
p {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1.6em;
  text-indent: 1.6em;
  text-align: justify;
}

/* line 51, ../_sass/_asDesigned-Style.scss */
.math-formula-container {
  width: 100%;
  text-align: center;
}

/* line 55, ../_sass/_asDesigned-Style.scss */
.math-formula {
  display: inline-block;
  color: #444;
}
/* line 59, ../_sass/_asDesigned-Style.scss */
.math-formula p {
  text-indent: 0em;
}

/* line 65, ../_sass/_asDesigned-Style.scss */
::-webkit-selection {
  background: #777;
  color: white;
}

/* line 65, ../_sass/_asDesigned-Style.scss */
::-moz-selection {
  background: #777;
  color: white;
}

/* line 65, ../_sass/_asDesigned-Style.scss */
::-o-selection {
  background: #777;
  color: white;
}

/* line 65, ../_sass/_asDesigned-Style.scss */
::selection {
  background: #777;
  color: white;
}

/* ######################################################### */
/*                       asDesigned                          */
/* line 77, ../_sass/_asDesigned-Style.scss */
img {
  max-width: 100%;
}

/* line 84, ../_sass/_asDesigned-Style.scss */
nav a {
  color: #eeeeee;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 90, ../_sass/_asDesigned-Style.scss */
nav a:visited {
  color: #eeeeee;
}
/* line 91, ../_sass/_asDesigned-Style.scss */
nav a:hover {
  color: #79a7ec;
}
/* line 92, ../_sass/_asDesigned-Style.scss */
nav a.current {
  background-color: #ec79a7;
}
/* line 93, ../_sass/_asDesigned-Style.scss */
nav a:hover.current {
  color: #eeeeee;
}

/* line 96, ../_sass/_asDesigned-Style.scss */
header {
  font-size: 1.5em;
  line-height: 2.13333;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 1.06667em;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  padding-left: 0.53333em;
  padding-right: 0.53333em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  display: inline;
  font-weight: 800;
  text-align: center;
}
/* line 101, ../_sass/_asDesigned-Style.scss */
header > h1 {
  color: #444444;
}
/* line 102, ../_sass/_asDesigned-Style.scss */
header > h1 > span {
  color: #79a7ec;
}

/* line 105, ../_sass/_asDesigned-Style.scss */
footer {
  text-align: center;
}

@media screen and (min-width: 40em) {
  /* line 116, ../_sass/_asDesigned-Style.scss */
  header {
    font-size: 1.75em;
    line-height: 1.82857;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0.91429em;
  }
}
@media screen and (min-width: 45em) {
  /* line 123, ../_sass/_asDesigned-Style.scss */
  header {
    font-size: 2em;
    line-height: 1.6;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0.8em;
  }
}
@media screen and (min-width: 60em) {
  /* line 130, ../_sass/_asDesigned-Style.scss */
  header {
    font-size: 2.5em;
    line-height: 1.92;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0.64em;
  }
}
/* line 7, ../_sass/_asDesigned-book.scss */
html, body {
  min-height: 100%;
  overflow: auto;
  background-color: #ADA291;
  color: #333;
}

/* line 14, ../_sass/_asDesigned-book.scss */
#book-container {
  background-color: #C1B6A6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  *zoom: 1;
}
/* line 186, ../_sass/_UnitGS.scss */
#book-container:before, #book-container:after {
  content: "";
  display: table;
}
/* line 190, ../_sass/_UnitGS.scss */
#book-container:after {
  clear: both;
}

/* line 31, ../_sass/_asDesigned-book.scss */
#book-page {
  -webkit-box-shadow: 1.5em 1.5em 3em 0em #282826;
  box-shadow: 1.5em 1.5em 3em 0em #282826;
  box-shadow: 0em 0em 0.5em 0 #CCC;
  box-shadow: 0em 0em 0.5em 0.5em #CCC;
  box-shadow: 0em 0em 0.5em 0.25em #ADADA6;
  -webkit-box-shadow: 0em 0em 0.5em 0.25em #ADA291;
  box-shadow: 0em 0em 0.5em 0.25em #ADA291;
  background-color: white;
  width: 100%;
  height: 100%;
  max-width: 75.9715731823em;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1.5em;
  *zoom: 1;
}
/* line 186, ../_sass/_UnitGS.scss */
#book-page:before, #book-page:after {
  content: "";
  display: table;
}
/* line 190, ../_sass/_UnitGS.scss */
#book-page:after {
  clear: both;
}

/* line 66, ../_sass/_asDesigned-book.scss */
#book-gutter {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
/* line 186, ../_sass/_UnitGS.scss */
#book-gutter:before, #book-gutter:after {
  content: "";
  display: table;
}
/* line 190, ../_sass/_UnitGS.scss */
#book-gutter:after {
  clear: both;
}

/* line 80, ../_sass/_asDesigned-book.scss */
#book-page-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 30em) {
  /* line 94, ../_sass/_asDesigned-book.scss */
  #book-container {
    padding: 1.5em;
  }

  /* line 97, ../_sass/_asDesigned-book.scss */
  #book-page-content {
    padding: 1em;
  }
}
@media screen and (min-width: 40em) {
  /* line 104, ../_sass/_asDesigned-book.scss */
  #book-page {
    padding: 0 3em;
  }

  /* line 107, ../_sass/_asDesigned-book.scss */
  #book-gutter {
    border-left: thin dashed #CCC;
    border-right: thin dashed #CCC;
  }

  /* line 111, ../_sass/_asDesigned-book.scss */
  #book-page-content {
    padding: 1.5em;
  }
}
@media screen and (min-width: 60em) {
  /* line 122, ../_sass/_asDesigned-book.scss */
  #book-container {
    padding: 3em;
  }

  /* line 125, ../_sass/_asDesigned-book.scss */
  #book-page {
    padding: 0 6em;
  }
}
/* line 12, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox {
  position: relative;
  z-index: 999;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  background-color: #d8d8d8;
  color: #595959;
  border-bottom: thick solid #79a7ec;
  *zoom: 1;
}
/* line 186, ../_sass/_UnitGS.scss */
.asDesignedMessageBox:before, .asDesignedMessageBox:after {
  content: "";
  display: table;
}
/* line 190, ../_sass/_UnitGS.scss */
.asDesignedMessageBox:after {
  clear: both;
}
/* line 30, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox a {
  text-decoration: none;
  color: inherit;
}
/* line 33, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox a:hover {
  color: #79a7ec;
}
/* line 39, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox i {
  padding-right: 0.5em;
}
/* line 41, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header {
  background-color: #d8d8d8;
  *zoom: 1;
}
/* line 186, ../_sass/_UnitGS.scss */
.asDesignedMessageBox .asDesigned-header:before, .asDesignedMessageBox .asDesigned-header:after {
  content: "";
  display: table;
}
/* line 190, ../_sass/_UnitGS.scss */
.asDesignedMessageBox .asDesigned-header:after {
  clear: both;
}
/* line 44, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-caption {
  display: inline-block;
  float: left;
  background-color: #79a7ec;
  color: white;
  padding: 0.5em 2em;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 54, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-about {
  padding: 0.5em 1em;
  display: inline-block;
  float: right;
  background-color: white;
}
/* line 61, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-message {
  display: inline-block;
  padding: 0.45em 1em;
}
/* line 66, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog {
  display: inline;
}
/* line 68, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog select, .asDesignedMessageBox .asDesigned-header .asDesigned-dialog input, .asDesignedMessageBox .asDesigned-header .asDesigned-dialog label {
  width: 3em;
  border: 0.125em solid #dadada;
  border-radius: 0.25em;
  padding: 0.2em;
}
/* line 69, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog select {
  width: 7em;
}
/* line 70, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog input:focus, .asDesignedMessageBox .asDesigned-header .asDesigned-dialog select:focus {
  outline: none;
  border-color: #9ecaed;
}
/* line 75, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog #basic-data-fieldset,
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog #screen-resolution-fieldset {
  display: inline-block;
  padding: 0.25em 0em;
}
/* line 80, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog .buttons {
  display: inline-block;
  float: right;
  padding: 0.5em 1em;
}
/* line 86, ../_sass/_asDesigned-component.scss */
.asDesignedMessageBox .asDesigned-header .asDesigned-dialog .field {
  display: inline-block;
  padding-left: 1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 9, ../_sass/_boilerplate-after.scss */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 21, ../_sass/_boilerplate-after.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 30, ../_sass/_boilerplate-after.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 47, ../_sass/_boilerplate-after.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 60, ../_sass/_boilerplate-after.scss */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
/* line 70, ../_sass/_boilerplate-after.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 75, ../_sass/_boilerplate-after.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 84, ../_sass/_boilerplate-after.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 104, ../_sass/_boilerplate-after.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 112, ../_sass/_boilerplate-after.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 116, ../_sass/_boilerplate-after.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 120, ../_sass/_boilerplate-after.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 130, ../_sass/_boilerplate-after.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 135, ../_sass/_boilerplate-after.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 140, ../_sass/_boilerplate-after.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 145, ../_sass/_boilerplate-after.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 149, ../_sass/_boilerplate-after.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 159, ../_sass/_boilerplate-after.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 165, ../_sass/_boilerplate-after.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
