<div id="book-container">
    <div id="book-cover">p</div>
        <div id="book-gutter">o</div>
            <div id="book-page-left">

                <h1>asDesigned</h1>
                <h2>Home</h2>
                <h2>Help</h2>
                <h2>About</h2>
            </div>
            <div id="book-page-right">

                <h1>asDesigned</h1>
                <p></p>
                <h2>Subtopic</h2>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>