


<script type="text/javascript">


//        Screen Size     
//        1   15,4    3,5
//Viewing Distance        Angle       
//Device  cm  degrees     
//Desktop 24  2,386978848 35,57594508 8,34087305
//Laptop  20  2,864192368 42,11341118 10,0012892
//Tablet  18  3,182280542 46,32032553 11,10594207
//SmartPhone  12  4,771888061 65,37387308 16,59428994

//    this.capitalizeLastName = function() {
//            var currentVal = this.lastName();
//            // Read the current value
//            this.lastName(currentVal.toUpperCase());
//            
//            // Write back a modified value
//        };

//
//                           TODO:
//                        **********
//
// Q: Corrigir o problema de quando ponho pequeno e depois grande de novo
//    o layout nao fica como o original.
//
// Q: Verificar quando temos ecrans com diferentes aspect ratios
//    By example, designed in a 4:3 and viewed in a 16:9.
// A: Se nao se utilizar as dimensoes do ecran para fazer as contas
//    mas apenas a distancia, nada disso entra em questao.
//
// Q: Verificar porque e que com apenas um olho aberto as porporcoes parecem
//    correctas, mas quando se abre os dois tudo parece mais pequeno.
//

///try {
///    if(appViewModel.screenSizeDiagonal() != "") $('html').css('font-size', appViewModel.screenDefinitionRatio().toString() + 'em');
//    if(appViewModel.viewingDistance() != "") updateMediaRulesEmByFactor(appViewModel.screenDefinitionRatio());
//}
//catch(e) { }

//appViewModel.screenDefinitionRatio.subscribe(function (newValue) {
//    try {    
//        if(appViewModel.screenSizeDiagonal() != "") $('html').css('font-size', newValue.toString() + 'em');
//        if(appViewModel.viewingDistance() != "") updateMediaRulesEmByFactor(newValue);
//    }
//    catch(e) { }
//});

// Activates knockout.js
//ko.applyBindings(appViewModel);
</script>

<script type="text/javascript">
//This function activates the asDesigned interface.
//function asDesigned()
//{
//
//    var asDesignedStart =
//        '<object style="width:100%;height:100%" type="image/svg+xml" data="/img/asDesigned/asDesigned-logo.svg">' +
//            '<img style="width:100%;height:100%" src="/img/asDesigned/asDesigned-logo.png" alt="As Designed Logo">' +
//        '</object>';
//    //$("#asDesigned-placeholder").html(asDesignedStart);
//
//    var asDesignedInterfaceVisible = 0;
//    $("#asDesigned-placeholder").click(function(){
//        asDesignedInterfaceVisible = (asDesignedInterfaceVisible + 1) % 3;
//
//        $("#asDesigned-first-message").css("display", asDesignedInterfaceVisible === 1? "block" : "none");
//        $("#asDesigned-interface").css("display", asDesignedInterfaceVisible === 2? "block" : "none");
//    });
//
//    //Example how to add elements to the beggining of the body.
//    //$('body').prepend('My HTML elements');
//}


//asDesigned();




//var callout =
//    '<div id="message" class="callout">' +
//        '<p>This site is designer compatible.</p>' +
//        '<p><a href="">Click for more</a></p>' +
//        '<b class="notch"></b>' +
//    '</div>';
//
//    $("#asDesigned-placeholder").append(callout);

//var position = $("#asDesigned-placeholder").offset(); // position = { left: 42, top: 567 }
//$('#message').css(position);
//px2em($('#message').get(0));

</script>
