<section id="introduction">

<h2 id="intro-message">A proof of concept to show the current limitations of responsive design and how it can be solved. asDesigned gives back the power to the designers so that they can make their design to be asDesigned.</h2>

<p>Did you ever wanted your web designs to look exactly as you designed them? No matter the device or technical specifications? AsDesigned has a solution!</p>

<p>AsDesigned can make your websites look exactly as you designed on any device. SmartPhone, Tablet, Laptop, Desktop, TV or even bigger custom devices.</p>

<p>The simple iPhone and iPad media queries era is over! With much more devices to support we got into a media queries hell! But there is a solution.</p>

</section>