<section id="the-context">

<h1>1. Context</h1>

<p>When a designer creates, he takes a lot of attention to all the details, the size of the font, the colors, the contrast between the foreground and the background colors, proportions and dimensions, etc. and he tweeks it until it is perfect. And it is perfect endeed... on his machine.</p>

<p>The problem starts when he needs to present his work in the clients computers and other devices, and things just look... different.</p>

<p>There, the perfect sized font, the perfect proportions, all the design looks too big or too small, too dark or too light, too tight or too loose, and there is nothing to be done, but to get to a compromise and make it look the best possible in the majority of the devices. Never again it will be perfect like it was imagined and constructed. The worst thing is, that it will still go with your signature on it.</p>

<p>That was <strong>not</strong> as it was designed!</p>

</section>