<section id="the-solution">

<h1>2. The Solution</h1>

<p>The solution is to make it look as it was designed in the first place! Lets make no compromises!</p>

<p>The goal of the asDesigned is to resolve the misrepresentation of the design in five steps.</p>

{% include the-solution/real-units.html %}
{% include the-solution/definition-adjustment.html %}
{% include the-solution/perceived-dimensions.html %}
{% include the-solution/user-preferences.html %}
{% include the-solution/layout-adjustments.html %}

</section>