<section id="the-initiative">
	
<h1>5. The Initiative</h1>

<p>I would like that the browsers will have this values that are needed to resolve todays problems. So, I need:<br/>
	<ul>
		<li>Units that are real - just break the backward compatibility, nobody is using those units anyway, currently they are useless (except for printing).</li>
		<li>Profiles with viewing distances per device. So that I can use the viewing distance in my font-size and have my em (or better rem) correct.</li>
	</ul>
</p>

<p>when the device configuration changes the media queries should be reprocessed.</p>

<p>A smartphone that is transformed into an tablet</p>
<p>A tablet that is transformed into an laptop</p>
<p>A smartphone that is connected to a docking station and trasformed into a desktop.</p>
<p>A mediacenter that is connected to the TV.</p>

</section>