<section id="the-tool">

<h1>4. The Tool</h1>

The asDesigned component is under development so that you can use it in your own projects without having to change your layout. It will inject the controls and make the corrections automaticaly.

<span class="note">This might be even usefull to configure your gigantic outdoor screen to show your webpage with the correct layout and dimensions at 100 feet away! :D</span>

The code for this website and this tool is on GitHub, feel free to participate in the project.

<h2>Current limitations</h2>

Currently this tool only works with sites that are elastic, meaning that are based on a base unit that is the font-size and that respect the user settings, meaning that you respect the browser default font-size settings by not setting the body font-size to a fixed unit, but a relative unit as em or percentage.

The media queries correction algorithm only converts values set in em.

</section>