<section id="the-initiative">
	
<h1>5. The Initiative</h1>

I would like that the browsers will have this values that are needed to resolve todays problems. So, I need:
- Units that are real - just break the backward compatibility, nobody is using those units anyway, currently they are useless (except for printing).
- Profiles with viewing distances per device. So that I can use the viewing distance in my font-size and have my em (or better rem) correct.

The goal is to make this component obsolete and not needing to use javascript to solve a problem that should be handled by the css.


when the device configuration changes the media queries should be reprocessed.

A smartphone that is transformed into an tablet
A tablet that is transformed into an laptop
A smartphone that is connected to a docking station and trasformed into a desktop.
A mediacenter that is connected to the TV.

How are the adjustments applied? html font-size and media queries.

</section>