//Demo site colors.
$settings-colors-darkgray: #333;
$settings-colors-lessdarkergray: #444;
$settings-colors-lightgray: #eee;
$settings-colors-verylightgray: rgb(236, 236, 236);
$settings-colors-pink: rgb(236, 121, 167);
$settings-colors-blue: rgb(121, 167, 236);

$settings-colors-links: $settings-colors-blue;

// Delete this class when the site is ready.
.todo {
	text-indent: 0;
	background-color: yellow;
	color: red;
}

//Here I set the scale definitions.
@function grid-modular-scale($multiple)
{
	@return modular-scale($multiple, 1 1.6, golden_ratio() fourth());
}

a, a:visited {
	text-decoration: none;
	color: $settings-colors-links;
}

a:hover {
	color: $settings-colors-links;
}

h1, h2, h3, p.intro { 
	//font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	text-rendering: optimizeLegibility; 
	font-weight: 800;
}

h1 { @include grid-line(grid-modular-scale(3), $margin-top: 3/4, $margin-bottom: 1/4, $fit-method: ceil); }
h2 { @include grid-line(grid-modular-scale(1), $margin-top: 3/4, $margin-bottom: 1/4, $fit-method: ceil); }
h3 { @include grid-line(grid-modular-scale(1), $margin-top: 3/4, $margin-bottom: 1/4, $fit-method: ceil); }

#intro-message {
	@include grid-line(grid-modular-scale(1), $margin-top: 0, $margin-bottom: 1, $fit-method: bestfit);
	font-style: italic;
	color: #666;
}

p { @include grid-line(1, $margin-bottom: 1); text-align: justify; }

.math-formula-container {
	width: 100%;
	text-align: center;
}
.math-formula {
	display: inline-block;
	color: #444;

	p { text-indent: 0em; }
}

//Change the selection color.
$text-selector-prefixes: ("-webkit-","-moz-", "-o-", "");
@each $text-selector-prefix in $text-selector-prefixes {
    ::#{$text-selector-prefix}selection {
		background: #777;
		color: white;

    }
}

/* ######################################################### */
/*                       asDesigned                          */

//General page styles
//To allow to shrink images in small devices.
img {
	max-width: 100%;
}

// START HERE STYLES

ul, ol {
	margin-left: 3em;
}

nav{
	a {
		color: $settings-colors-lightgray;
		font-weight: 800;
		text-transform: uppercase;
		text-decoration: none;
	}
	a:visited { color: $settings-colors-lightgray; }
	a:hover { color: $settings-colors-blue; }
	a.current { background-color: $settings-colors-pink; }
	a:hover.current { color: $settings-colors-lightgray; }
}

header {
	@include grid-unit($font-size: 1.5, $margin-top: 0, $margin-bottom: 1);
	font-weight: 800;
	text-align: center;

	> h1 { color: $settings-colors-lessdarkergray; }
	> h1 > span { color: $settings-colors-blue; }
}

footer, #copyright > p { color: #333; text-align: center; }


//* { transition: all 1s; }

//480
@media screen and (min-width: 30em) {

}

//640
@media screen and (min-width: 40em) {
	header {
		@include grid-line($font-size: 1.75, $margin-top: 0, $margin-bottom: 1);
	}
}

//720
@media screen and (min-width: 45em) {
	header {
		@include grid-line($font-size: 2, $margin-top: 0, $margin-bottom: 1);
	}
}

//960
@media screen and (min-width: 60em) {
	header {
		@include grid-line($font-size: 2.5, $margin-top: 0, $margin-bottom: 1);
	}
}