<section id="definition-adjustment">

<h2>2.2. Definition Adjustment</h2>

<p>Ok, you have real units to work with, but how can you ensure that the user dimensions are the same as it was designed?</p>

<p>Well, that has a quite simple solution, you just have to know the author's screen definition.</p>

<p>The asDesign component requires two parameters, the first one is the definition of the author's machine (we will talk about the other parameter in the next section), mine is 147ppi, with that we can calculate the ratio between the user and author's screen definition. Now we know how to adjust the font-size and other dimensions so that it has the same real size in the user's screen as it had in the author's.</p>

<div class="math-formula-container">
<div class="math-formula">
	<p>`"adj" = "userPpi" / "authorPpi"`</p>
</div>
</div>

<p>That's it then, this solves all the problems with dimensions! Well, not all... lets continue... :)</p>

</section>