<section id="user-preferences">

<h2>2.4. User Preferences</h2>

<p>It is important that you always respect your user preferences when you implement your websites, even if you think that you have the perfect dimensions, you should allow the user to set his own preferences.</p>

<p>Some users like/need to see things bigger, others like them smaller to more space and content on screen. So I implemented the option for the user to set his own zoom for this site, allowing the user to make is adjustment over the designers size (not proportions) preferences. Once again, always respect the user.</p>

<p>Yes, it is not that difficult to implement zoom in a web text editor. So, Google and Microsoft, please just implement it in your web editors, I need it! :)</p>

</section>